* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
}

h1 {
  font-size: 5em;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 20px black;
  text-align: left;
}
