.profile {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-flow: column;
}

.profile > img {
  margin-top: 200px;
  border-radius: 100%;
  border: 5px;
  width: 300px;
  box-shadow: 0 0 20px black;
}
